html {
  color-scheme: light !important;
  background: rgb(22, 27, 41);
  color: #fff;
}


.menuBtn {
  display: flex;
  margin-left: auto;
  /* position: relative;
  left: 28vw; */
}

.nav-menu.slideBack > .sideMenu {
  transform: translateX(0%) !important;
  transition: 150ms ease-in-out;
}

.nav-menu.slideIn > .sideMenu {
  transform: translateX(100%) !important;
  transition: 150ms ease-in-out;
}


.block {
  display: block;
}

.w-0 {
  width: 0;
}

.w-e {
  width: 80%;
}

