@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

html {
  color-scheme: dark !important;
  background: rgb(22, 27, 41);
  color: #fff;
    /* color-scheme: dark; */
  scrollbar-color: #686868 #424242;
}


::-webkit-scrollbar {
  z-index: 200;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #23258a;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e30a1;
}


.menuBtn {
  display: flex;
  margin-left: auto;
  /* position: relative;
  left: 28vw; */
}

.nav-menu.slideBack > .sideMenu {
  transform: translateX(0%) !important;
  transition: 150ms ease-in-out;
}

.nav-menu.slideIn > .sideMenu {
  transform: translateX(100%) !important;
  transition: 150ms ease-in-out;
}


.block {
  display: block;
}

.w-0 {
  width: 0;
}

.w-e {
  width: 80%;
}

